.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(1, 29, 1);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 35px;
}

.logo-image {
    margin-bottom: 20px;
}

.input-field {
    border-radius: 5px;
    border-color: #f5f5f5;
    height: 25px;
    width: 300px;
}

label {
    font-size: 22px;
}

.login-buttom {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(255, 208, 0);
    border-color: rgb(255, 208, 0);
    font-size: 22px;
}